# Deny  All , Allow Known (Whitelist)
# Allow All , Deny  Known (Blacklist)

# This is a whitelist
*  -text  -diff
.gitattributes  diff
.gitignore      diff

*.md     diff=markdown
*.adoc   diff
*.sh     diff=bash  eol=lf
*.html   diff=html
*.txt    diff
